
<div class="container">
<div class="col"><h1>{{title}}</h1></div>
<br><br>
<form class="form-group row" role="form">
  <div class="form-group col-md-3">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" name="nombre" placeholder="Nombre" id="nombre" [(ngModel)]="cuadroNombre"/>
  </div>
  <div class="form-group col-md-3">
    <label for="apellido">Apellido:</label>
  <input type="text" class="form-control" name="apellido" placeholder="Apellido" id="apellido" [(ngModel)]="cuadroApellido"/>
  </div>
  <div class="form-group col-md-3">
    <label for="cargo">Cargo:</label>
    <input type="text" class="form-control" name="cargo" placeholder="Cargo" id="cargo" [(ngModel)]="cuadroCargo"/>
  </div>
  <div class="form-group col-md-3">
    <label for="salario">Salario:</label>
    <input type="number" class="form-control" name="salario" placeholder="Salario" id="salario" [(ngModel)]="cuadroSalario"/>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="registrar()">Ingresar</button>
  </div>
</form>
</div>
<app-list-empleado *ngFor=" let empleado of empleados; let i=index" [empleadoList]="empleado" [indice]="i"></app-list-empleado>
<br><br><br>
